APP_NAME=Academy
APP_ENV=local
APP_KEY=base64:prVO53YZNS9QQ2IyetlujOvN508EcEx1+UACaW5dmEc=
APP_DEBUG=true
APP_URL=http://localhost:8000
LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=portal_academy
DB_USERNAME=root
DB_PASSWORD=root

BROADCAST_DRIVER=log
QUEUE_CONNECTION=redis

CACHE_STORE=redis
MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CLIENT=phpredis
REDIS_PASSWORD=null

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=false
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

MAIL_MAILER=smtp
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=apikey
MAIL_PASSWORD=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
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="support@portal365.org"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

API_APP_KEY="training_da3ae7327f3981edea381136ddeea4f85a412993"
TELESCOPE_ENABLED=true

STRIPE_SECRET=sk_test_51QclcvRHBxhGOF4cei9fZncJeQEeIZlqScYjVRoy8xclHhXBbYkxwWTO63PXft972IrliiUepF6sRSRVlAImSTfg00dXvib4sz
STRIPE_CLIENT=pk_test_51QclcvRHBxhGOF4cuhu93eUYoyyJTQJtKkpykzzpao5JnVZQxX14TX4izFjcRoksbpltAwpcpEfpowUkG7RReRPh00QCsFYdXt

R2_ACCESS_KEY_ID=d278402e1dcdc7135420d7269561912a
R2_SECRET_ACCESS_KEY=33cff45ea6365de7cccf290551ecc37b89413ef1d96d9cfb1e65c919cf287bc5
R2_BUCKET=ngo-academy
R2_ENDPOINT=https://94af670a5f988c261c55b5cd0cce95e0.r2.cloudflarestorage.com

PASSING_SCORE=80

GOOGLE_REDIRECT_URI=http://localhost:8000/youtube/callback
GOOGLE_AUTH_STATE=sd523asd4dsd62dsf
